[servers]
# First run: use port 22 and root. After first run: change to port 2275 (or your ssh_port) and your user_name.
vps ansible_host=<IP> ansible_port=22 ansible_user=root ansible_ssh_private_key_file=~/.ssh/id_ed25519
