---
- hosts: all
  become: true

  vars:
    ssh_port: 2275 # SSH port (must match hosts file after first run)
    user_name: admin # replace with your username
    user_ssh_key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
    is_control_node: true # set to false for external worker nodes
    cloudflare_proxy: true # set to true if domain uses Cloudflare proxy (orange cloud)
    ufw_extra_ports: [{ port: 25, proto: tcp }] # additional UFW ports to open, e.g. [{port: 25, proto: tcp}]

  roles:
    - packages
    - ssh
    - fail2ban
    - user
    - ufw
    - sysctl
    - kernel_modules

  tasks:
    - name: Include dokploy role only if this is the control VPS
      include_role:
        name: dokploy
      when: is_control_node

    - name: Check if Traefik is installed
      ansible.builtin.stat:
        path: /etc/dokploy/traefik/traefik.yml
      register: traefik_config

    - name: Include traefik_headers role when Traefik is installed
      include_role:
        name: traefik_headers
      when: traefik_config.stat.exists

    - name: Include crowdsec role when Traefik is installed
      include_role:
        name: crowdsec
      when: traefik_config.stat.exists
